.header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 10vh 0;
    /* border: 1px solid black; */
}

.logoText{
    color: white;
    grid-column: 1 / -1;
    margin: auto 0;
    font-family: 'Dela Gothic One', cursive;
}