.contentWrapper{
    grid-column: 2 / -2;
    height: 100%;
}

.sectionLeft{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendlyWrapper{
    height: 95%;
    width: 90%;
}

.rightSide{
    grid-column: 7 / -1;
    color: white;
    height: auto;
    margin: auto 0;
    padding-left: 2vw;
}

.heading{
    color: #f13ea7;
}

.sectionUL{
    list-style: none;
    text-align: start;
    margin: 0;
    padding-left: 0;
    font-family: 'Cabin', sans-serif;
}

.sectionUL li{
    margin: 1vw;
    padding: 0;
}

.highlight{
    color: #fbd01c;;
}

.tick{
    margin-right: 0.5vw;
}