.section5{
    margin-bottom: 2.5vh;
    color: white;
}

.contentWrapper{
    grid-column: 2 / -2;
    text-align: center;
}

.content{
    grid-column: 1 / -1;
}

.heading{
    text-transform: uppercase;
    text-align: center;
}

.details{
    color: #f13ea7;
    text-align: center;
}